//- Service Card
mixin serviceCard(obj)
    .col-12.col-md-6.col-lg-4
        .service-card.wow.animate.animate__fadeInLeft
            .card-image
                img(src= obj.img alt= obj.title)
            .card-content
                h3.card-heading.text-center.mt-4= obj.title
                p.card-desc.text-center.mt-4= obj.desc
            .card-btn.text-center
                button(class="button alt" data-bs-toggle="modal" data-bs-target= `#${obj.modal.id}`) Read More 
        // Start Modale
        // Privacy
        .modal.fade(id= obj.modal.id)
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h4.modal-title.fw-bold(id= obj.modal.label)= obj.modal.title
                    .modal-body
                        p= obj.modal.text
                    .modal-footer
                        button.button.alt.mx-auto(type='button' data-bs-dismiss='modal') close
        // End Modale


//- Team Card
mixin teamCard(obj)
    .team-card
        div(class=`team-photo-wrapper ${obj.bg}`)
            img(src= obj.img loading='lazy' alt= obj.name)
        .team-card-content
            div
                h3.team-name= obj.name
                .team-role= obj.role
            .social-icons
                a.social-icon-wrap.w-inline-block(href='#' target='_blank')
                    img(src='images/social-icons/instagram.svg' loading='lazy' alt='Instagram')
                a.social-icon-wrap.w-inline-block(href='#' target='_blank')
                    img(src='images/social-icons/twitter.svg' loading='lazy' alt='Twitter')

//- Page Banner
mixin pageBanner(title)
    .page-banner 
        .container 
            h1= title


//- Service Info

mixin serviceInfo(title,text,src)
    section.service-info#service-info
        .container 
            .row 
                .col-12.col-lg-6 
                    h2= title 
                    p= text
                .col-12.col-lg-6 
                    img(src= src, alt= title)


//- Before And After 
mixin beforeAfter(before, after)
    section.before-after#before-after
        .container 
            .row 
                .col-12.col-lg-6
                    .owl-carousel.before
                        each src in before 
                            .item
                                img(src= src, alt="Before")
                .col-12.col-lg-6
                    .owl-carousel.after
                        each src in after 
                            .item
                                img(src= src, alt="After")





